@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

// style reset

*,
:before,
:after {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	text-transform: capitalize;
	color: inherit;
	font-family: inherit;
}
a:visited {
	color: inherit;
}

// body

body {
	font-family: 'Montserrat', sans-serif;
}

// fonts

h1 {
	// font-size: 5rem;
	font-size: clamp(2rem, 10vw, 5rem);
}

h2 {
	font-size: clamp(1.7rem, 8vw, 4rem);
}

h3 {
	font-size: clamp(1.5rem, 6vw, 3rem);
}

h4 {
	font-size: clamp(1.2rem, 4vw, 2rem);
}

h5 {
	font-size: clamp(1rem, 3vw, 1.5rem);
}

// button

button {
	border: none;
	background-color: inherit;
}

// sections

.section-center {
	max-width: 85rem;
	margin: auto;
	padding: 0 1.5rem;
}

.full-height {
	height: 100vh;
}

.title {
	text-align: center;
	margin: 6rem auto;
	text-transform: uppercase;
}
